#addons-stopwatch {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:stretch;
    align-content: center;
    justify-content: space-evenly;
    border: 1px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
}

.stopwatch_panel {
    border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    height: 50px;
}

.stopwatch_panel ul {
    list-style: none;
}

#addons-stopwatch button {
    display: block;

}