body {
  height: 100vh;
  margin: 0;
  background-size: cover;
  background-color: black;
  overflow: hidden;

  display: flex;
  align-items: center;
}

[alt="background"] {
  position: absolute;
  z-index: -1;
  transition: opacity 2s;
}

[name="cross-back1"] {
  opacity: 1;
}

[name="cross-back2"] {
  opacity: 0;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}






/* @keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
    background-image: url(https://gongu.copyright.or.kr/gongu/wrt/cmmn/wrtFileImageView.do?wrtSn=11288960&filePath=L2Rpc2sxL25ld2RhdGEvMjAxNS8wMi9DTFM2OS9OVVJJXzAwMV8wNDQ2X251cmltZWRpYV8yMDE1MTIwMw==&thumbAt=Y&thumbSe=b_tbumb&wrtTy=10006);
    background: linear-gradient(258deg,#feb604,#996950,#44a35a,#5f522a,#b1bca0,#8c62b8);
    background-size: 360% 360%;
    animation: gradient-animation 54s ease infinite;
} */