[name="container"] {
    display: flex;
    flex-direction: column;
    width: 100%; height: 95%;
}

.weather-layout {
    align-self: self-end;
    height: 5vh;
}

[name="center"] {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#todo {
    height: 30%;
}

#quote {
    align-self:normal;
}