.font-white {
    color: white;
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.underline-transition {
    width:0px;
    height: 1px;
    border-bottom: 4px double white;
    border-radius: 3rem;
    transition: all 0.4s;
}

#weather {
    font-size: 1.7rem;
    display: flex;
    user-select: none;
    cursor: pointer;
}

.weather-description {
    display: flex;
    width: 10rem;
    flex-direction: column;
    align-items: center;
    max-height: 5rem;
    overflow-y: hidden;
}

.weather-description span {
    visibility: hidden;
    position: absolute;
    transition: all 0.2s;
    top: 8vh;
}

.weather-description .appear {
    visibility: visible;
    top: 4vh;
}

.weather-description .disappear {
    top: -4vh;
}


.weather-description-city {

}

.weather-description-tmp {

}

.weather-description-krDiscription {

}

#clock {
    font-size: 7rem;
    margin-block-end: 0;
    user-select: none;
    cursor: pointer;
}

.meridiem > span {
    font-size: 4rem;
}

#clock:hover + .clock-underline {
    width: 20rem;
    border-bottom: 4px double white;
}

#greeting {
    font-family: 'Alkatra';
    font-size: 5rem;
    margin-block-start: 0;
    margin-block-end: 2rem;
    border-bottom: 2px solid black;
    user-select: none;
}

#todo {
    font-family: 'Alkatra';
    font-size: 2rem;
}

[title="ToDo"] {
    display: flex;
    justify-content: center;
}

#todo-hide {
    display: none;
}

#todo-hide ~ label {
    display: flex;
    flex-wrap: wrap;
    width: 8rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

#todo-hide ~ label::after {
    display: block;
    margin-left: 2rem;
    content: '';
    width:1px;
    height: 1px;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all 0.4s;
}

#todo-hide ~ label:hover::after,
#todo-hide:checked ~ label::after {
    width: 6rem;
    border-bottom: 2px solid black;
}

#todo-hide ~ label::before{
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../source/chevron_right_FILL0_wght400_GRAD0_opsz48.png');
    background-position: center;
    transition-duration: 510ms;
    transition-timing-function: ease;
}

#todo-hide:checked ~ label::before {
    transform: rotate(90deg);
}

#todo-ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
    list-style: none;
}

.todo-overflow {
    overflow: hidden;
}

.todo-board {
    transition: all 0.5s;
}

#quote {
    font-size: 1.2rem;
}