.font-white {
    color: white;
}

.font-dongle {
    font-family: 'Dongle', sans-serif;
}

.font-alkatra {
    font-family: 'Alkatra', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.underline-transition {
    width:0px;
    border-bottom: 3px solid black;
    border-radius: 3rem;
    transform: translateY(-2rem);
    transition: all 0.4s;
}

#weather {
    font-size: 1.7rem;
    display: flex;
    user-select: none;
    cursor: pointer;
    transition: all 0.2s;
}

#weather img {
    transition: all 0.2s;
}

#weather:hover img {
    transform: scale(1.3);
}

#weather:hover span {
    font-size: 2rem;
    border-radius: 0.6rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.weather-description {
    font-family: 'Alkatra', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    right: 60px;
    width: 10rem;
    max-height: 3rem;
    overflow-y: hidden;
}

.weather-description span {
    border-top: 2px solid rgba(0,0,0,0);
    border-bottom: 2px solid rgba(0,0,0,0);
    visibility: hidden;
    position: absolute;
    display: inline-block;
    transition: all 0.2s;
    transform: translateY(6vh);
}

.weather-description .appear {
    visibility: visible;
    transform: translateY(0);
}

.weather-description .disappear {
    opacity: 0;
    transform: translateY(-8vh);
}

#clock {
    display: inline-block;
    font-family: 'Alkatra',sans-serif;
    font-size: 7rem;
    margin-block-end: 0;
    padding-bottom: 0rem;
    user-select: none;
    cursor: pointer;
    transition: all 0.4s;
}

.meridiem > span {
    font-size: 4rem;
}

#clock:hover {
    transform: scale(1.2);
    text-shadow: 0.2rem 0.2rem black;
}

#clock:hover + .clock-underline {
    width: 20rem;
    border-bottom: 3px solid black;
    box-shadow: 0 0.5rem 1rem 0.5rem white;
}

#greeting {
    font-family: 'Alkatra';
    font-size: 5rem;
    margin-block-start: 0;
    margin-block-end: 2rem;
    border-bottom: 2px solid black;
    user-select: none;
}

#todo {
    font-family: 'Alkatra';
    font-size: 2rem;
}

[title="ToDo"] {
    display: flex;
    justify-content: center;
}

#todo-hide {
    display: none;
}

#todo-hide + label {
    display: flex;
    flex-wrap: wrap;
    width: 9rem;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
}

#todo-hide + label:hover {
    transform: scale(1.1);
}

#todo-hide + label::after {
    display: block;
    margin-left: 2rem;
    content: '';
    width:1px;
    height: 1px;
    border-bottom: 2px solid rgba(0,0,0,0);
    transition: all 0.4s;
}

#todo-hide + label:hover::after,
#todo-hide:checked + label::after {
    width: 6rem;
    border-bottom: 2px solid black;
    box-shadow: 0 4px 9px 1px white;
}

#todo-hide + label::before{
    content: '';
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-image: url('../source/chevron_right_FILL0_wght400_GRAD0_opsz48.png');
    background-position: center;
    transition-duration: 510ms;
    transition-timing-function: ease;
}

#todo-hide:checked + label::before {
    transform: rotate(90deg);
}

.todo-overflow {
    margin-top: 0.5rem;
    overflow-y: hidden;
}

#todo-ul {
    font-size: 1.5rem;
    line-height: 2.5rem;
    list-style: none;
    user-select: none;
}

#todo-ul li {
    display: flex;
    justify-content: center;
}

#todo-ul span {
    position: relative;
    cursor: pointer;
    transition: all 0.5s;
}

#todo-ul span::before {
    display: inline-block;
    content: '';
    width: 0px;
    border: 0px solid;
    position: absolute;
    transform: translateY(1rem);
    transition: all 0.5s;
}

#todo-ul .strike-through{
    color: rgba(255,255,255, 0.7);
    text-shadow: none;
}

#todo-ul .strike-through::before {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.7);
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
}

#todo-ul button {
    background: rgba(0,0,0,0);
    margin-left: 5px;
    margin-bottom: 2px;
    border: 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.2s;
}

#todo-ul button:hover {
    background: rgba(255,255,255, 0.5);
    opacity: 1;
}

.todo-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.todo-board input {
    display: inline-block;
    margin-bottom: 0.5rem;
    width: 12rem;
    background: rgba(255,255,255,0.3);
    border: 0;
    border-left: 6px solid black;
    border-right: 6px solid black;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    outline: none;
    transition: all 0.6s;
}

.todo-board input:hover {
    background: rgba(255,255,255, 0.5);
}

.todo-board input:focus {
    background: rgba(255,255,255, 0.7);
    box-shadow: 0 0 8px 1px black;
    border-left: 6px solid aquamarine;
    border-right: 6px solid aquamarine;
}

#quote {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#quote span:first-child {
    display: inline-block;
    font-size: 1.5rem;
    transition: all 0.3s;
}

#quote span:last-child {
    font-size: 1rem;
}

#quote:hover span:first-child {
    transform: scale(1.1);
}